h1 {
    color: rgb(64, 104, 139);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
body {
    background: url(R.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}